<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <parameter name="x" value="Deliver to"/>
<parameter name="y" value="30"/>
<parameter name="xx" value="20"/>
<parameter name="yy" value="30"/>
	
	<test name = "Test1" parallel = "methods" thread-count="5">
	 <!-- <groups>
	<run>
	<include name = "group1"/>
	<include name = "group2"/>
	<exclude name = "group3"/>
	</run>
	</groups>  -->
		<classes>
			<!--  <class name = "p1.C1"/> -->
			<!--  <class name = "p1.C2"/> -->
			<!-- <class name = "p1.AnnotationsIntro"/>
			<class name = "p1.GroupsIntro"/> -->
			<!-- <class name= "p1.ParametersIntro"/> -->
			<!-- <class name= "p1.ParallelIntro"/> -->
			<class name = "p1.AssertsIntro"/>
		</classes>
	</test>

	<!-- <test name = "Test2">
		<classes>
			<class name = "p1.C1"/>
			<class name = "p1.AnnotationsIntro"/>
		</classes>
	</test> -->

  <!-- <test thread-count="5" name="Test">
    <classes>
      <class name="p1.C1">
      <methods>
      <include name= "m1"/>
      </methods>
      </class>
      <class name= "p1.C2">
      <methods>
      <exclude name = "m1"/>
      </methods>
      </class>
      
    </classes>
  </test> Test -->
</suite> <!-- Suite -->
